@using WinTzToMoment.Controllers
<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Windows To Moment.js Timezone Coverter">
        <meta name="author" content="ScreenshotMonitor">
    
        <title>Windows To Moment.js Timezone Coverter</title>
      
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"> </script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"> </script>
        <![endif]-->
        
        <style>
            body { margin-top: 45px; }
        </style>
    </head>

    <body ng-controller="AppController">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.nuget.org/packages/Pranas.WindowsTimeZoneToMomentJs/">WindowsTimeZoneToMomentJs </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="https://github.com/ScreenshotMonitor/WindowsTimeZoneToMomentJs">GitHub</a></li>
                        <li><a href="https://www.nuget.org/packages/Pranas.WindowsTimeZoneToMomentJs/">NuGet</a></li>
                        <li><a href="http://screenshotmonitor.com/blog/">Blog</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <h1>Windows To Moment.js Timezone Coverter</h1>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <form role="form">
                        <div class="form-group">
                            <label>Windows Time Zone</label>
                            <select class="form-control" ng-model="selectedTz" ng-options="tz.name for tz in windowsTimezones track by tz.name">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>UTC Date Time <small class="text-muted">(@DefaultController.DateTimeFmt)</small> </label>
                            <input type="text" class="form-control" placeholder="@DefaultController.DateTimeFmt" ng-model="dateTime" >
                        </div>
                        
                        <button class="btn btn-default" ng-click="save()">Save</button> 
                        <button class="btn btn-default" ng-click="restore()">Restore</button> 
                        
                        <button class="btn btn-default" ng-click="convertSelected()">Convert</button> 
                        <span>to <b>{{selectedTz.name}}</b></span>
                        <span ng-if="serverOffset">( {{serverOffset}} )</span>
                        
                        <div ng-show="isSuccess || isFailure" class="form-group" style="margin-top: 15px;">
                            <p>
                                <b>Converted by WindowsTimeZoneToMomentJs (client side)</b><br/> 
                                <span>{{clientDateTime}}</span> <br/><br/>
                                
                                <b>Converted by TimeZoneInfo.ConvertTimeFromUtc (server side)</b><br/>
                                <span>{{serverDateTime}}</span><br/>
                            </p>
                            <h2 ng-show="isSuccess" class="res-marker" style="color: green;">
                                SUCCESS
                            </h2>
                            <h2 ng-show="isFailure" class="res-marker" style="color: red;">
                                FAILURE
                            </h2>
                        </div>
                       
                    </form>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-default" ng-click="convertAll()">Convert all</button>
                    <span>to <b>{{selectedTz.name}}</b></span>
                    <span ng-if="$all" style="color: blue;">
                        &mdash; {{$all}}
                    </span>
                    <ol style="margin-top: 15px;">
                        <li ng-repeat="tz in windowsTimezones" style="padding: 5px;">
                            <button class="btn btn-default btn-xs" ng-click="selectTimeZone(tz)" style="min-width: 200px;">{{tz.name}}</button> 
                            <span ng-if="tz.$c">
                                <b>{{tz.$c.serverDateTime}}</b>
                                &mdash;
                                <span style="color: green;" ng-show="tz.$c.isSuccess">SUCCESS</span>
                                <span style="color: red;" ng-hide="tz.$c.isSuccess">FAILURE</span>
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container -->


        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> </script>
    
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
        <script src="http://underscorejs.org/underscore-min.js"> </script>
        <script src="http://momentjs.com/downloads/moment.min.js"> </script>
        <script src="http://momentjs.com/downloads/moment-timezone-with-data.min.js"> </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.2.5/moment-timezone-utils.min.js"> </script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"> </script>
        <script src="@Url.Action("WindowsTimeZoneToMomentJs")?v=@DateTime.UtcNow.Ticks"> </script>
        <script src="~/Scripts/main.js"> </script>
    </body>
</html>